<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moris.user.mapper.UserRecordMapper">

    <resultMap type="com.moris.user.entity.UserRecord" id="UserRecordResultMap">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="os_type" property="osType"/>
        <result column="imei" property="imei"/>
        <result column="time" property="time"/>
        <result column="msg" property="msg"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, os_type, imei, time, msg
    </sql>

    <!-- 插入 -->
    <insert id="insertUserRecord" parameterType="com.moris.user.entity.UserRecord">
        insert into user_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="osType != null">
                os_type,
            </if>
            <if test="imei != null">
                imei,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="msg != null">
                msg,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="osType != null">
                #{osType,jdbcType=VARCHAR},
            </if>
            <if test="imei != null">
                #{imei,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                #{time,jdbcType=INTEGER},
            </if>
            <if test="msg != null">
                #{msg,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!-- 删除 -->
    <delete id="deleteUserRecord">
        delete from user_record
        where user_id = #{userId} and time &lt; #{minTime};
    </delete>

    <!-- 查看 -->
    <select id="findUserRecord" resultMap="UserRecordResultMap"
            parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from user_record
        where user_id = #{userId,jdbcType=INTEGER}
        order by id limit #{offsetStart,jdbcType=INTEGER},#{rowNums,jdbcType=INTEGER};
    </select>
</mapper>